button {
	background-color: lightgrey;
	border-radius: 2px;
	border-color: lightgrey;
	border-style: solid;
	margin-bottom: 5px;
}

body {
	background-color: rgb(138, 138, 138);
	color: rgb(138, 138, 138);
}

#sides {
	/*setup the flexbox to be vertical*/
	display: flex;
	flex-direction: column;
	padding: 5px;

	color: "green";
}
#factions {
	/*setup the flexbox to be vertical*/
	display: flex;
	flex-direction: column;

	padding: 5px;

	color: "red";
}
#variants {
	/*setup the flexbox to be vertical*/
	display: flex;
	flex-direction: column;

	color: "blue";
	padding: 5px;
}
#buttonContainer {
	/*setup the flexbox to be vertical*/
	display: flex;
	flex-direction: row;
	justify-content: left;
}

p {
	color: black;
	background-color: lightgrey;
	align-content: auto;
	height: 20px;
	padding: 5px;
	text-anchor: start;
	border-radius: 2px;
}

#vehicleContainer {
	display: flex;
	flex-direction: row;
	background-color: rgb(100, 100, 100);
	margin: 10px;
	align-content: baseline;
	width: fit-content;
	justify-content: center;
}

img {
	padding: 10px;
	border: 2px;
	border-color: black;
	border-radius: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: black;
	font: arial;
	align-content: center;
}

h3 {
	font-size: 20px;
}

input {
	padding: 10px;
	margin: 10px;
	height: 20px;
	width: 40px;
}

#calculate {
	height: fit-content;
	margin: 17.5px;
	font-size: 20px;
}

#flexDiv {
	display: flex;
	flex-direction: row;
}

#results {
	display: flex;
	flex-direction: row;
}

/* grid layout:
8 columns. type, vehicle, crew, passenger, cargo, +, -, vehicleCounter
1 row per vehicle