
:root{
	--var-grid-height: 30px;
}


button {
	background-color: lightgrey;
	border-color: lightgrey;
	border-style: solid;
	margin-bottom: 5px;
}

body {
	background-color: rgb(138, 138, 138);
	color: rgb(138, 138, 138);
}

#sides {
	/*setup the flexbox to be vertical*/
	display: flex;
	flex-direction: column;
	padding: 5px;
}
#factions {
	/*setup the flexbox to be vertical*/
	display: flex;
	flex-direction: column;

	padding: 5px;
}
#variants {
	/*setup the flexbox to be vertical*/
	display: flex;
	flex-direction: column;
	padding: 5px;
	color: "blue";
}
#buttonContainer {
	/*setup the flexbox to be vertical*/
	display: flex;
	flex-direction: row;
	justify-content: left;
}

p {
	color: black;
	background-color: lightgrey;
	align-content: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: black;
	font: arial;
	align-content: center;
}

#calculate {
	height: fit-content;
	margin: 17.5px;
	font-size: 20px;
}

.plus,
.minus {
	height: var(--var-grid-height);
	width: auto;
}

#content {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
}

.group {
	grid-column-start: 1;
	grid-column-end: 9;
	height: var(--var-grid-height);
}

.type {
	height: var(--var-grid-height);
}
.name {
	height: var(--var-grid-height);
}
.crew {
	height: var(--var-grid-height);
}
.passengers{
	height: var(--var-grid-height);
}
.cargo {
	height: var(--var-grid-height);
}


/* grid layout:
8 columns. type, vehicle, crew, passenger, cargo, +, -, vehicleCounter
1 row per vehicle
*/
